h1 Subjects
.list.subject-list.w-icon.bordered
  if Template.subscriptionsReady
    each subjects
      a(href="{{pathFor 'subjects.view' _id='553W'}}")
        +subject
    else
      .message 
        .title No Subjects there yet!
  else
    +app_loading
    
a.btn.right.waves-effect.waves-light(href="{{pathFor 'subjects.add'}}") Add subject
