if Template.subscriptionsReady
  .page-header-icon
    +flipIcon data=icon
    h1.title {{class.title}}
  .list.chapters.doc-list
    each topics
      +topic_item
    else
      .message
        .title No topics there yet!
  .buttons
    a.btn.right.waves-effect.waves-light(href="{{pathFor 'topics.add' class=class._id}}") new topic

else
  +app_loading
