<template name="app_nav">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <li><a href="{{pathFor 'classes.list'}}">My Classes</a></li>
        </ul>

      </div>
    </nav>
  </div>

  <ul class="side-nav" id="mobile-demo">
    <li><a href="{{pathFor 'classes.list'}}">My Classes</a>
      <ul>
        {{# each classes}}
          <li><a>{{title}}</a></li>
        {{/each}}
      </ul>
    </li>
  </ul>
</template>
