.list {
  margin: 8px 0;

  &.bordered {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .list-item:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  &.w-icon {
    .list-item {
      padding: 8px 16px 8px 74px;
      position: relative;

      .flip-icon {
        position: absolute;
        left: 4px;
        top: 11px;
      }
    }
  }

  &.doc-list .list-item {
    padding-left: 56px;
    position: relative;

    &:not(.no-doc):before {
      .material-icons(2em);
      content:"insert_drive_file";
      position: absolute;
      left: 8px;
      top: 18px;
      opacity: .6;
    }
  }

  &.chapters {
    .chapter {
      position: relative;
      padding-left: 32px;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        border-left: 1px solid @chapter-line-grey;
        left: 16px;
        top: 56px;
        bottom: 0px;
        opacity: 0;
        transition: .3s;
      }

      .doc-add {
        transform: translateX(-60px);
      }

      &:hover {
        .head .material-icons{
          color: @chapter-highlight;
        }

        &:before {
          border-color: @chapter-highlight;
        }
      }

      &.t-open {
        .icon-toggle i {
          opacity: 1;
          &:last-child {
            opacity: 0;
          }
        }

        &:before {
          opacity: 1;
        }
      }


      .head {
        .no-select();
        font-weight: 300;
        margin: 8px 0;
        cursor:pointer;
        display: flex;

        .icon-toggle i {
          transition: .3s;
        }

        .material-icons {
          position: absolute;
          left: 5px;
          top: 18px;
          height: 9px;
          width: 9px;
          color:@chapter-line-grey;
        }


        .title {
          font-size: 2em;
        }
        .line {
            margin: 24px 16px 0 16px;
            height: 1px;
            flex-basis: 10px;
            min-width: 10px;
            background: @chapter-line-grey;
            flex-grow: 1;
            display: block;
        }

        .date {
          font-size: 2em;
        }

        @media (max-width: 600px) {
          flex-direction: column;

          .line {
            display: none;
          }

          .date {
            font-size: .8em;
            opacity: .6;
            font-weight: 500;
            margin-top: -8px;
          }
        }
      }
    }
  }

  a.list-item {
    display: block;
    color: inherit;
    transition: background .3s;

    &:hover {
      background: rgba(0,0,0,0.06);
    }
  }

  .list-item {
    padding: 8px 16px;
    .title {
      font-size:1.3rem;
    }

    .sub {
      opacity:.8;
      font-weight:500;
    }

    .count {
      float:right;
      opacity:.4;
      font-size:1.64rem;
      padding-top:.55rem;
      &:before  {
        content:'#';
      }
    }
  }
}
